.products {
  padding: 30px 0;
}

.products__list {
  @include list-reset;

  display: flex;
  flex-direction: column;
  align-items: center;

  @include viewport--md {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    column-gap: 10px;
    row-gap: 20px;

    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
    }

    & > * {
      justify-self: center;
      align-self: stretch;
    }
  }
}

.products__error {
  @include font(18, 25);

  margin: 0 auto;
  padding: 10px;
  max-width: 30%;
  text-align: center;
  border: 1px solid $color-dim-gray;
  font-weight: 600;
  color: $color-red;

  @include viewport--md {
    @include font(14, 20);

    max-width: 100%;
  }
}
