<li class="product-card @@if (context.addClass) {products__card}">
  <div class="product-card__content">
    <!-- инфо продукта -->
    <div class="product-card__img-wrap">
      <a href="#">
        <img src="img/content/product-img.jpg" srcset="img/content/product-img@2x.jpg" width="220" height="220" alt="изображение товара">
      </a>
    </div>
    <div class="product-card__description">
      <div class="product-card__label">
        <p>Код: <span>147268</span></p>
        <a class="product-card__availability" href="#">Наличие</a>
      </div>
      <div class="product-card__info">
        <h3 class="product-card__title">
          <a href="#">
            Ламинат 31 кл Kronospan Kronofix Афцелия Малайская 2,47 м.кв. 7 мм
          </a>
        </h3>
        <div class="product-card__useful">
          <p>Могут понадобиться:</p>
          <a href="#">подложка,</a>
          <a href="#">плинтус натуральный,</a>
          <a href="#">рулетка,</a>
          <a href="#">набор для укладки ламината,</a>
          <a href="#">ножовка по ламинату,</a>
          <a href="#">гель для стыков ламината Clic Protect.</a>
        </div>
      </div>
      <div class="product-card__prices product-price">
        <div class="product-price__price product-price__price--gold">
          <dl>
            <dt>По карте клуба</dt>
            <dd>375,71<span class="visually-hidden">рублей</span></dd>
          </dl>
          @@include("source/html/base/icon.html", {
            "name": "icon-rouble",
            "width": "19",
            "height": "19",
          })
        </div>

        <div class="product-price__price product-price__price--retail">
          <dl>
            <dt class="visually-hidden">Обычная цена</dt>
            <dd>391,09<span class="visually-hidden">рублей</span></dd>
          </dl>
          @@include("source/html/base/icon.html", {
            "name": "icon-rouble-gray",
            "width": "19",
            "height": "19",
          })
        </div>
        <p class="product-price__points">Можно купить за <span>231,75</span> балла</p>
        <div class="product-price__switch">
          <button class="active" type="button">За м. кв.</button>
          <button type="button">За упаковку</button>
        </div>
      </div>
    </div>
  </div>
  <div class="product-card__buy">
    <!-- в корзину -->

    <form action="#" method="POST" class="product-card__form add-to-cart">
      <div class="add-to-cart__stepper">
        <div class="stepper">
          <input type="number" step="1" min="1" value="1" id="count147268">
          <label class="visually-hidden" for="count147268" class="add-to-cart__tooltip">
            количество упаковок
          </label>
          <div class="stepper__arrows">
            <button class="stepper__button stepper__button--up" aria-label="Увеличить количество">
              @@include("source/html/base/icon.html", {
                "name": "icon-arrow-down",
                "width": "10",
                "height": "10",
              })
            </button>
            <button class="stepper__button stepper__button--down" aria-label="Уменьшить количество">
              @@include("source/html/base/icon.html", {
                "name": "icon-arrow-down",
                "width": "10",
                "height": "10",
              })
            </button>
          </div>
        </div>
        <div class="add-to-cart__tooltip">
          <span>Продается упаковками:</span>
          <span>1 упак. = 2.47 м. кв.</span>
          <span class="tooltip__icon">i</span>
        </div>
      </div>
      <button type="submit" data-modal="success">
        @@include("source/html/base/icon.html", {
          "name": "icon-cart",
          "width": "20",
          "height": "20",
        })
        <span>В корзину</span>
      </button>
    </form>
  </div>
</li>
