<li class="product-card @@if (context.addClass) {products__card}">
  <div class="product-card__content">
    <!-- инфо продукта -->
    <div class="product-card__img-wrap">
      <a href="#">
        <img src="img/content/product-img.jpg" width="160" height="160" alt="изображение товара">
      </a>
    </div>
    <div class="product-card__description">
      <div class="product-card__label">
        <p>Код: <span>147268</span></p>
        <a class="product-card__availability" href="#">Наличие</a>
      </div>
      <div class="product-card__info">
        <h3 class="product-card__title" title="hello">
          <a href="#">
            Ламинат 31 кл Kronospan Kronofix Афцелия Малайская 2,47 м.кв. 7 мм
          </a>
        </h3>
        <div class="product-card__useful">
          <p>Могут понадобиться:</p>
        </div>
      </div>
      <div class="product-card__prices product-price">
        <div class="product-price__price product-price__price--gold">
          <dl>
            <dt>По карте клуба</dt>
            <dd>375,71</dd>
          </dl>
          @@include("source/html/base/icon.html", {
            "name": "icon-rouble",
            "width": "19",
            "height": "19",
          })
        </div>

        <div class="product-price__price product-price__price--retail">
          <dl>
            <dt class="visually-hidden">Обычная цена</dt>
            <dd>391,09</dd>
          </dl>
          @@include("source/html/base/icon.html", {
            "name": "icon-rouble-gray",
            "width": "19",
            "height": "19",
          })
        </div>
        <p class="product-price__points">Можно купить за <span>231,75</span> балла</p>
        <div class="product-price__switch">
          <button class="js-alt-unit disabled" type="button" data-unit="alt">За м. кв.</button>
          <button type="button" class="active js-default-unit" data-unit="default">За упаковку</button>
        </div>
      </div>
    </div>
  </div>
  <div class="product-card__buy">
    <!-- в корзину -->

    <form action="#" method="POST" class="product-card__form add-to-cart">
      <div class="add-to-cart__stepper">
        <div class="stepper">
          <input type="number" step="1" min="1" value="1" id="count147268">
          <div class="add-to-cart__tooltip">
            <span>Продается упаковками:</span>
            <span class="js-ratio">1 упак. = 2.47 м. кв.</span>
            <span class="add-to-cart__tooltip-icon">i</span>
          </div>
          <label class="visually-hidden" for="count147268" class="add-to-cart__tooltip">
            количество упаковок
          </label>
          <div class="stepper__arrows">
            <button class="stepper__button stepper__button--up" aria-label="Увеличить количество">
              @@include("source/html/base/icon.html", {
                "name": "icon-arrow-down",
                "width": "10",
                "height": "10",
              })
            </button>
            <button class="stepper__button stepper__button--down" aria-label="Уменьшить количество">
              @@include("source/html/base/icon.html", {
                "name": "icon-arrow-down",
                "width": "10",
                "height": "10",
              })
            </button>
          </div>
        </div>
      </div>
      <button type="submit" data-modal="success" data-product-id="1234">
        @@include("source/html/base/icon.html", {
          "name": "icon-cart",
          "width": "20",
          "height": "20",
        })
        <span>В корзину</span>
      </button>
    </form>
  </div>
</li>
