// Colors
//---------------------------------
// https://www.htmlcsscolor.com/hex/334482

// Default

$color-default-black:             #000000;
$color-default-white:             #ffffff;
$color-transparent:               rgba(255, 255, 255, 0);

// Base

$color-black:                     $color-default-black;
$color-white:                     $color-default-white;
$color-blue:                      #2c39f2;
$color-dim-gray:                  #666666;
$color-dim-gray2:                 #707070;
$color-matterhorn:                #545454;
$color-dark-gray:                 #a7a7a7;
$color-nobel:                     #999999;
$color-grey-light:                #cccccc;
$color-pigment-green:             #009933;
$color-orange-peel:               #ff9900;
$color-gainsboro:                 #e0e0e0;
$color-night-rider:               #333333;


// Gradient

$black-to-right:                    linear-gradient(90deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 75%);

// Typography
//---------------------------------

$font-family--:                     "", "Arial", sans-serif;

// Animation
//---------------------------------

$default-easing:                 ease;
$default-timing:                 0.3s;
$default-transition-settings:    $default-timing $default-easing;
$modal-transition-settings:      0.6s cubic-bezier(0.55, 0, 0.1, 1);

@keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

// Viewports
//---------------------------------

$viewport--sm:                      320px;
$viewport--md:                      768px;
$viewport--lg:                      1000px;
$viewport--xl:                      1250px;
$viewport--xxl:                     1920px;

// Retina
//---------------------------------

$retina-dpi:                        144dpi;
$retina-dppx:                       1.5dppx;

// Other

$hover-opacity:                     0.7;
$active-opacity:                    0.5;
